@import 'variables';

.container {
    background-color: $dark-color;
    @include flexbox-row;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid $medium-color;
}

.logo {
    font-weight: 600;
}

.nav_button {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;

    .icon {
        color: $text;
    }
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 0vw;
    height: 100vh;
    background-color: $darkest-color;
    transition: width 0.2s cubic-bezier(0.79,0.14,0.15,0.86);
    overflow: hidden;
    z-index: 1;
    
    .modal_button {
        @extend .nav_button;
        position: absolute;
        top: 2rem;
        right: 2rem;
        color: ghostwhite;
        white-space: nowrap;
        border-bottom: 1px solid white;
        padding-bottom: 5px;
    }
}

