@import 'variables';

.container {
    background-color: var(--dark-color);
    @include flexbox-row;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--border);
}

.logo {
    color: var(--text);
    font-weight: 600;
}

.nav_button {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;

    .icon {
        color: var(--text);
    }
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 0vw;
    height: 100vh;
    background-color: var(--darkest-color);
    transition: width 0.2s cubic-bezier(0.79, 0.14, 0.15, 0.86);
    overflow: hidden;
    z-index: 2;

    .modal_button {
        @extend .nav_button;
        position: absolute;
        top: 2rem;
        right: 2rem;
        color: var(--text);
        white-space: nowrap;
        border-bottom: 1px solid var(--text);
        padding-bottom: 5px;
    }
}

.selector_container {
    @include flexbox-row;
    justify-content: center;
    column-gap: 10px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 1;    
}

@media (max-width: 850px) {
    .selector_container {
        @include flexbox-column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        margin: 1.5rem auto;
    }
}