@import 'variables';

.container {
    background-color: var(--dark-color);
    @include flexbox-row;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--border);
}

.desktop_setting_container {
    @include flexbox-row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.logo {
    color: var(--text);
    font-weight: 600;
}

.nav_button {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;

    .icon {
        color: var(--text);
    }
}

.modal {
    @include flexbox-column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 30px;

    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0vw;
    height: 100vh;

    padding: 6rem 0 0 2rem;
    background-color: var(--dark-color);
    transition: all 0.2s cubic-bezier(0.79, 0.14, 0.15, 0.86);
    overflow: hidden;
    z-index: 2;

    .modal_button {
        @extend .nav_button;
        font-size: 1.5rem;
        color: var(--text);

        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .small_container {
        @include flexbox-column;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 10px;
        padding: 0 3rem 0 0;

        hr {
            width: 50vw;
            height: 1px;
            border: none;
            border-top: 1px solid;
        }
        
        .setting_container {
            @include flexbox-column;
            justify-content: center;
            align-items: flex-start;
            row-gap: 10px;
        }
    }

    .profession {
        font-size: 0.9rem;
    }

    
}

.overlay {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.80);
    z-index: 1;   
    
    transition: opacity 0.4s cubic-bezier(0.79, 0.14, 0.15, 0.86);
}

@media (max-width: 600px) {
    .small_container {
        hr {
            width: 60vw !important;
        }
    }
}