@import './variables';

.container {
    @include flexbox-row;
    justify-content: center;
    column-gap: 10px;

    border: 2px solid var(--text);
    border-radius: 15px;
    background: transparent;

    font-size: 0.9rem;
    font-weight: 600;

    position: relative;
    padding: 0px 8px;
    height: 26px;
    width: 100px;
    transition: width 300ms ease-in;
    overflow: hidden;
    cursor: pointer;

    .btn_lang {
        border: none;
        background: transparent;
        font-weight: 600;
        font-size: 0.9rem;
        transition: opacity 200ms ease-in-out;
        cursor: pointer;
    }

    p {
        font-size: 0.9rem;
    }

    .container_lang {
        @include flexbox-row;
        column-gap: 10px;
        
        white-space: nowrap;

        position: absolute;
        inset: 30px;
        transition: all 200ms ease-in-out 300ms;
    }
}
