
.list_container {
    list-style-type: none;
}

.list_container > li {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 0 10px;
    transition: transform 0.2s ease-in-out;
}

@media (min-width: 850px) {
    .list_container > li:hover {
        transform: translateY(-3px)
    }
}

@media (max-width: 850px) {
    .list_container {
        margin: 5rem 0 0 2rem;
    }

    .list_container > li {
        display: block;
        margin: 10px 0;
        text-align: left;
    }
}