@import './variables';

.container {
    @include btn;
    @include flexbox-row;
    column-gap: 0.3rem;
    justify-content: center;
    width: max-content;
    font-size: 0.8rem;
    padding: 0.4rem 0.6rem;
}

.icon {
    font-size: 1.2rem;
}