@import './variables';

.container {
    @include btn;
    @include flexbox-row;
    column-gap: 0.3rem;
    justify-content: center;
    width: 130px;
    font-size: 0.8rem;
    height: 35px;
}

.icon {
    font-size: 1.2rem;
}
