@import '../components/variables';

.container {
    display: grid;
    place-content: center;
    padding: 3rem 0;
    min-height: calc(100vh - 90px);
}

.title {
    margin-bottom: 0.5rem;
}

.p {
    text-align: center;
}

.social_container {
    margin-top: 1.5rem;
    @include flexbox-row;
    justify-content: center;
    column-gap: 3rem;
}

.icon {
    font-size: 2rem;
    color: $text;
    transition: transform 200ms ease-out;

    &:hover {
        transform: scale(1.2);
        color: white;
    }
}
