@import '../components/variables';

:root {
    --darkest-color: #DEE2E6;
    --dark-color: #F8F9FA;
    --medium-color: #E9ECEF;
    --light-color: #f7f7f7;
    --text: #212529;
    --text2: #49515a;
    --border: rgb(10, 10, 10);
    --hover: #32383e;
    --toggle: rgb(35, 35, 35);

    /* shadow colors variables */
    --dark-shadow: rgba(0, 0, 0, 0.15);
}

[data-theme='dark'] {
    --darkest-color: rgb(10, 10, 10);
    --dark-color: #0b132b;
    --medium-color: #1c2541;
    --light-color: #3A506B;
    --text: #77a0d3;
    --link: #abd1ff;
    --text2: #6181a8;
    --border: #2c3d51;
    --hover: ghostwhite;
    --toggle: rgb(0, 179, 0);

    /* shadow colors variables */
    --dark-shadow: rgba(142, 142, 142, 0.15);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-weight: 500;
    background-color: var(--dark-color);
    color: var(--text);
}

main {
    display: grid;
    place-items: center;
    grid-template-columns: minmax(1.5rem, 1fr) minmax(min-content, 80rem) minmax(1.5rem, 1fr);
}


main > section {
    grid-column: 2/3;
    padding: 3rem 0;
}

h1, h2, h3 {
    text-align: center;
    color: var(--text);
}

h1 {
    margin-bottom: 0.5rem;
}

h1, h2 {
    font-size: 1.8rem;

}

p {
    text-align: justify; 
    color: var(--text);
    font-size: 1.1rem;
    line-height: 1.5rem;

}


a {
    font-weight: 600;
    text-decoration: none;
    display: block;
    color: var(--link);
}



