@import '../components/variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-weight: 500;
    background-color: $dark-color;
    color: $text;
}

main {
    display: grid;
    place-items: center;
    grid-template-columns: minmax(1.5rem, 1fr) minmax(min-content, 80rem) minmax(1.5rem, 1fr);
}


main > section {
    grid-column: 2/3;
    padding: 3rem 0;
}

h1, h2, h3 {
    text-align: center;
    color: ghostwhite;
}

h1 {
    margin-bottom: 0.5rem;
}

h1, h2 {
    font-size: 1.8rem;

}

p {
    text-align: justify; 
    color: $text;
    font-size: 1.1rem;
    line-height: 1.5rem;

}


a {
    font-weight: 600;
    text-decoration: none;
    display: block;
    color: $text;
}


@media (max-width: 850px) {
    a {
        color: ghostwhite;
    }
}